*.dart linguist-detectable=true
*.md linguist-detectable=false
*.yaml linguist-detectable=false
*.rb linguist-detectable=false
.vscode/* linguist-detectable=false
android/* linguist-detectable=false
ios/* linguist-detectable=false
